/* 
.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
}


.form-label {
    display: block;
    
    font-weight: 500;
    color: #333;
    
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}



.form-output {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 4px;
    color: #333;
    font-size: 12px;
} */